.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.letter {
  width: 100%;
  margin-right: 5rem;
  text-align: center;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 1.5rem; 
}

.brand {
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.brand > h4 {
  margin: 0;
  padding: 0;
}

.brand > svg {
  height: 100%;
  width: 100%;
}
