.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genresContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.genre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #0d253f;
  color: #fff;
}

.genre:hover {
  background: rgba(25, 46, 70, 0.85);
  transition: 0.5s;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */

  .container {
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .genre {
    margin: 20px;
  }
}
