.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .brand {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    margin-right: 5rem;
  }
  .brand > h4 {
    margin: 0;
    padding: 0;
  }

  .brand > svg {
    height: 100%;
    width: 100%;
  }
}
