.searchContainer {
  border: 2px solid #18b7d9;
  border-radius: 5px;
  background: #0d253f;
  display: flex;
  align-items: center;
  position: relative;
}

.searchContainer input,
.searchContainer input:-webkit-autofill,
.searchContainer input:-webkit-autofill:hover,
.searchContainer input:-webkit-autofill:active {
  background: #0d253f;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px 0 5px 5px;
  color: #fff;

}

.searchContainer:has(> input:focus),
input:focus {
  background: #18b7d9;
}

.searchContainer:has(> input:focus) > button {
  color: #000;
}

input::placeholder {
  color: #18b6d977;
}

input:focus::placeholder {
  color: #0d253f82;
}

.searchContainer button {
  cursor: pointer;
  border: none;
  border-radius: 0 5px 5px 0;
  background: transparent;
  padding-block: 0;
  padding-inline: 0;
  color: #fff;
}

.searchContainer button svg {
  padding: 5px 5px 0 0;
  font-size: 18px;
}

.error {
  position: absolute;
  background: rgba(225, 55, 55, 0.9);
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  top: 15px;
}

.error::before {
  content: "";
  position: absolute;
  border-color: transparent transparent rgba(225, 55, 55, 0.9) transparent;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  width: 0px;
  height: 0px;
  top: -10px;
  left: 5px;
}
