header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  color: #fff;
  background: #0d253f;
}

.nav {
  display: flex;
}

.nav li {
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
}
